// 自定义变量
$defcolor: #6495ed;
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #888;
}
// 公共样式
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606266;
  width: 100%;
}
#web {
  background: #f7f7f7;
  margin-top: 61px;
  width: 100%;
  .body {
    padding: 10px;
    max-width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    .left,
    .center,
    .right {
      padding: 10px;
    }
  }
}
#admin {
  .left {
    position: fixed;
    left: 0;
    top: 0;
    width: 210px;
    transition: all 0.3s;
    // background: #545c64;
    // overflow-x: hidden;
    // overflow-y: scroll;
    .el-menu {
      width: 100%;
      height: 900px;
      transition: none;
    }
  }
  .right {
    transition: all 0.3s;
    width: 100%;
    padding-left: 210px;
    .header {
      background: white;
      position: relative;
      height: 80px;
      width: 100%;
      .left {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        padding: 15px;
        cursor: pointer;
      }
      .right {
        padding-left: 50px;
        height: 50px;
        line-height: 50px;
        width: 100%;
        .el-breadcrumb {
          line-height: 50px;
        }
      }
      .tag {
        padding: 0 10px;
        // overflow-x: scroll;
        // overflow-y: hidden;
        height: 36px;
        width: 100%;
        background: white;
        border: 1px solid #eaeaea;
        .ivu-tag {
          height: 30px;
          line-height: 30px;
          transition: all 0.3s;
        }
        .def {
          background: #606266;
        }
        .active {
          background: #6495ed !important ;
          .ivu-tag-text {
            color: white !important;
          }
          .ivu-icon-ios-close {
            color: white !important;
            border: none !important;
            margin-left: 2px !important;
          }
        }
      }
    }
    .body {
      padding: 20px;
      min-height: 600px;
    }
  }
}
#menu {
  width: 100%;
  background: white;
  height: 61px;
  line-height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  .top {
    margin: 0;
    height: 61px;
    max-width: 1320px;
    background: white;
    margin: auto;
    z-index: 998;
    border-bottom: 1px solid #eaeaea;
  }
  .left {
    text-align: left;
    height: 60px;

    img {
      vertical-align: middle;
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
    span {
      vertical-align: middle;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .center {
    height: 60px;
  }
  .right {
    text-align: center;
    padding: 0 20px;
    .search {
      position: relative;
      input {
        border-radius: 15px;
        transition: all 0.3s;
        width: 100%;
        &:focus {
          width: 150%;
        }
      }
      .res {
        background: white;
        position: absolute;
        left: 0;
        top: 50px;
        max-height: 300px;
        width: 150%;
        border: 1px solid #eaeaea;
        overflow-y: scroll;
        li {
          display: block;
          padding: 0 20px;
          height: 30px;
          line-height: 30px;
          text-align: left;
          border-bottom: 1px solid #eaeaea;
          list-style: none;
          &:hover {
            background: $defcolor;
            cursor: pointer;
          }
        }
      }
    }
    .user,
    .btn {
      span {
        font-size: 12px;
      }
      font-size: 16px;
      font-weight: bold;
      &:hover {
        color: $defcolor;
        cursor: pointer;
      }
    }
  }
  .sm {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 997;
    border-bottom: 1px solid #eaeaea;
    .el-menu-item {
      float: none;
      display: inline-block;
    }
  }
  .xs {
    position: absolute;
    height: auto;
    top: -300px;
    left: 0;
    text-align: center;
    z-index: 997;
    border-bottom: 1px solid #eaeaea;
    .el-menu-item {
      float: none;
    }
    .search {
      width: 50%;
      margin: 0 auto;
      transition: all 0.3s;
      input {
        border-radius: 15px;
      }
    }
  }
  .active {
    top: 61px;
  }
}
#menu-item {
  height: 100%;
  width: 100%;
  font-size: 18px;
  z-index: 99;
  font-weight: bold;
  transition: all 0.2s;
  .el-menu {
    border: none;
  }
  .el-menu-item {
    border: none;
    transition: all 0.3s;
    &:hover {
      color: $defcolor;
      text-decoration: line-through $defcolor;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }
  .is-active {
    transition: all 0.5s;
    border: none;
    background: none;
    color: $defcolor;
    text-decoration: line-through $defcolor;
  }
}
#footer {
  height: 60px;
  background: white;
  padding: 10px;
  .text {
    text-align: center;
    .el-row {
      height: 20px;
      line-height: 20px;
    }
  }
  .float-menu {
    .ivu-back-top {
      bottom: 71px !important;
      z-index: 999;
    }
    .music {
      position: fixed;
      bottom: 30px;
      right: 30px;
      height: 40px;
      width: 48px;
      z-index: 999;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.6);
      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }
      .icon {
        margin: 8px 12px;
        height: 24px;
        width: 24px;
        display: inline-block;
        background-image: url('../assets/music_def.png');
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    embed {
      position: fixed;
      bottom: 0;
      right: 100px;
      z-index: 999;
    }
    iframe {
      transition: all 0.5s;
      position: fixed;
      bottom: -450px;
      right: 100px;
      z-index: 999;
    }
  }
}
// 组件样式
#user-center {
  h4 {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    .logout {
      margin: 6px 0;
      float: right;
      margin-right: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .el-form-item__label {
    text-align: center;
  }
  .title {
    height: 50px;
    width: 100%;
  }
  .el-button {
    width: 100%;
  }
  .get_code {
    cursor: pointer;
    &:hover {
      color: $defcolor;
    }
  }
  .disabled {
    cursor: not-allowed;
  }
  .end {
    text-align: center;
    height: 30px;
    margin: 10px 0;
  }
}
#show-me {
  text-align: center;
  transition: all 0s;
  min-height: 900px;
  .me {
    background: white;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    .wximg {
      height: 120px;
      width: 120px;
    }
    .name {
      .el-button {
        color: #606266;
        font-weight: bold;
        font-size: 18px;
        &:hover {
          color: $defcolor;
        }
      }
    }
    .generalization {
      margin: 0 auto;
      .list {
        margin: 1px;
        background: rgba(150, 150, 150, 0.1);
        padding: 5px 10px;
        cursor: pointer;
        .num {
          height: 15px;
          line-height: 15px;
        }
        .title {
          line-height: 15px;
          height: 15px;
        }
        &:hover {
          background: rgba(150, 150, 150, 0.3);
          // color: $defcolor;
          transition: all 0.2s;
        }
      }
    }
    .books {
      span {
        display: block;
        font-size: 14px;
        color: $defcolor;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .contact {
      i {
        font-size: 20px;
      }
      .el-col {
        div {
          margin: 0 auto;
          height: 30px;
          width: 30px;
          cursor: pointer;
          background-size: 100%;
          &:hover {
            background-size: 100%;
            transition: all 0.5s;
          }
        }
      }
      .github {
        background: url('../assets/github_def.png');
        &:hover {
          background: url('../assets/github_hover.png');
        }
      }
      .qq {
        background: url('../assets/qq_def.png');
        &:hover {
          background: url('../assets/qq_hover.png');
        }
      }
      .wb {
        background: url('../assets/wb_def.png');
        &:hover {
          background: url('../assets/wb_hover.png');
        }
      }
    }
    .book-list {
      padding: 20px;
      .book-img {
        padding: 10px;
        width: 100%;
        min-height: 150px;
        img {
          width: 100%;
        }
      }
    }
  }
  .collection {
    background: rgba(0, 0, 0, 0);
    text-align: left;
    h4 {
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      i {
        margin-right: 10px;
      }
    }
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      height: 30px;
      line-height: 30px;
      padding: 0 20px;
    }
    p:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
#time-line {
  min-height: 900px;
  h4 {
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 30px;
    line-height: 30px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
  }
  .more {
    cursor: pointer;
    .el-timeline-item__timestamp:hover {
      color: $defcolor;
    }
  }
}
// 页面样式
#home {
  min-height: 900px;
  .list {
    border: 1px solid #eaeaea;
    padding: 20px;
    background: white;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    h2 {
      height: 30px;
      line-height: 30px;
      overflow: hidden;
    }
    .other {
      span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin: 0 10px;
      }
    }
    .list-img {
      overflow: hidden;
      position: relative;
      width: 100%;
      max-height: 300px;
      .el-image {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      margin-top: 10px;
      p {
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        max-height: 60px;
        line-height: 20px;
      }
    }
  }
}
#study {
  min-height: 900px;
  background: white;
  height: 100%;
  padding: 20px;
  border: 1px solid #eaeaea;
  .books {
    .el-divider__text {
      font-size: 12px;
      font-weight: bold;
      span {
        font-size: 20px;
      }
    }
    .list {
      .content {
        // height: 80px;
        margin: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        .title {
          padding-left: 20px;
          overflow: hidden;
          background: rgba(150, 150, 150, 0.1);
          height: 50px;
          text-align: left;
          line-height: 50px;
          font-size: 16px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: rgba(150, 150, 150, 0.3);
          }
        }
        .other {
          line-height: 30px;
          text-align: left;
          span {
            margin: 0 10px;
            display: inline-block;
          }
        }
      }
    }
  }
}
#note {
  min-height: 900px;
  padding: 20px;
  .top {
    span {
      cursor: pointer;
    }
    .active {
      color: $defcolor;
    }
  }
  .list {
    cursor: pointer;
    width: auto;
    background: white;
    margin: 20px 0;
    border-radius: 2px;
    position: relative;
    border: 1px solid #eaeaea;
    padding: 10px;
    // background-color: rgba(150, 150, 150, 0.1);
    .top {
      background-color: white;
      margin-bottom: 5px;
      h2 {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
      }
      .other {
        // border-top: 1px solid #eaeaea;
        span {
          display: inline-block;
          margin: 0 10px;
          line-height: 25px;
        }
      }
    }
    .content {
      .list-img {
        overflow: hidden;
        height: 150px;
        img {
          height: 100%;
          width: auto;
        }
      }
      .text {
        height: 150px;
        line-height: 25px;
        overflow: hidden;
        padding-left: 20px;
      }
      .ql-editor {
        overflow-y: hidden;
      }
    }
  }
  .more {
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $defcolor;
    }
  }
}
#zone {
  min-height: 900px;
  padding: 20px;
  .menu {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 10px;
  }
  .list {
    padding: 10px;
    margin: 5px;
    height: 100px;
    border: 1px solid #eaeaea;
    background: white;
    cursor: pointer;
    h4 {
      padding-left: 10px;
      height: 30px;
      line-height: 30px;
    }
    .content {
      height: 50px;
      overflow: hidden;
      .img {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 40px;
        height: 40px;
        img {
          height: 40px;
          width: 40px;
          margin: 0 auto;
        }
      }
      .text {
        padding-left: 50px;
        padding: 5px 5px 5px 50px;
        height: 50px;
        p {
          height: 40px;
          line-height: 20px;
          overflow: hidden;
        }
      }
    }
  }
}
#about {
  min-height: 900px;
  padding: 20px;
  background: white;
  border: 1px solid #eaeaea;
  .title {
    height: 50px;
    line-height: 50px;
  }
  .me {
    padding: 0 20px;
    line-height: 30px;
    .dream {
      cursor: pointer;
      color: $defcolor;
    }
  }
  .arts {
    padding: 0 20px;
    ul {
      padding: 0 20px;
    }
  }
}
#book {
  .top {
    margin-bottom: 10px;
    height: 40px;
    text-align: right;
    .el-input {
      width: 250px;
      display: inline-block;
      margin-right: 10px;
    }
    .el-button {
      display: inline-block;
    }
  }
  .bottom {
    margin-top: 10px;
    height: 40px;
    .left {
      position: relative;
      text-align: left;
    }
    .right {
      text-align: right;
      .el-pagination {
        height: 40px;
        padding: 6px 0;
      }
    }
  }
}
#url {
  .top {
    margin-bottom: 10px;
    height: 40px;
    text-align: right;
    .el-input {
      width: 250px;
      display: inline-block;
      margin-right: 10px;
    }
    .el-button {
      display: inline-block;
    }
  }
  .bottom {
    margin-top: 10px;
    height: 40px;
    .left {
      position: relative;
      text-align: left;
    }
    .right {
      text-align: right;
      .el-pagination {
        height: 40px;

        padding: 6px 0;
      }
    }
  }
}
#article {
  .top {
    margin-bottom: 10px;
    height: 40px;
    text-align: right;
    .el-input {
      width: 250px;
      display: inline-block;
      margin-right: 10px;
    }
    .el-button {
      display: inline-block;
    }
  }
  .bottom {
    margin-top: 10px;
    height: 40px;
    .left {
      position: relative;
      text-align: left;
    }
    .right {
      text-align: right;
      .el-pagination {
        height: 40px;
        padding: 6px 0;
      }
    }
  }
  .img_url {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
#comment {
  .top {
    margin-bottom: 10px;
    height: 40px;
    text-align: right;
    .el-input {
      width: 250px;
      display: inline-block;
      margin-right: 10px;
    }
    .el-button {
      display: inline-block;
    }
  }
  .bottom {
    margin-top: 10px;
    height: 40px;
    .left {
      position: relative;
      text-align: left;
    }
    .right {
      text-align: right;
      .el-pagination {
        height: 40px;
        padding: 6px 0;
      }
    }
  }
}
#message {
  .top {
    margin-bottom: 10px;
    height: 40px;
    text-align: right;
    .el-input {
      width: 250px;
      display: inline-block;
      margin-right: 10px;
    }
    .el-button {
      display: inline-block;
    }
  }
  .bottom {
    margin-top: 10px;
    height: 40px;
    .left {
      position: relative;
      text-align: left;
    }
    .right {
      text-align: right;
      .el-pagination {
        height: 40px;
        padding: 6px 0;
      }
    }
  }
}
#user {
  .top {
    margin-bottom: 10px;
    height: 40px;
    text-align: right;
    .el-input {
      width: 250px;
      display: inline-block;
      margin-right: 10px;
    }
    .el-button {
      display: inline-block;
    }
  }
  .bottom {
    margin-top: 10px;
    height: 40px;
    .left {
      position: relative;
      text-align: left;
    }
    .right {
      text-align: right;
      .el-pagination {
        height: 40px;
        padding: 6px 0;
      }
    }
  }
}
#set {
  .top {
    margin-bottom: 10px;
    height: 40px;
    text-align: right;
    .el-input {
      width: 250px;
      display: inline-block;
      margin-right: 10px;
    }
    .el-button {
      display: inline-block;
    }
  }
  .bottom {
    margin-top: 10px;
    height: 40px;
    .left {
      position: relative;
      text-align: left;
    }
    .right {
      text-align: right;
      .el-pagination {
        height: 40px;
        padding: 6px 0;
      }
    }
  }
}
#details {
  min-height: 900px;
  padding: 20px;
  background: white;
  border: 1px solid #eaeaea;
  .ql-snow {
    border: none;
  }
  .title {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .other {
    height: 30px;
    line-height: 30px;
    span {
      margin: 0 10px;
    }
  }
  .describe {
    color: #999;
    line-height: 20px;
    padding: 10px;
  }
}
